* {
	color: white;
	font-family: serif;
}
* a:hover {
	color:#ccc;
}

body {
	background-color: #003050;
}


header #aLogo img {
	height:60px;
	padding:9px;
	/*width:auto;*/
}


code {
	background-color: black;
	border-radius: 10px;
	display: block;
	font-family: menlo, monospace;
	padding: 5px 15px;
}
code span.command {
	color: #aaa;
	font: inherit;
}
code span.options {
	color: #db0;
	font: inherit;
}
code span.parameters {
	color: white;
	font: inherit;
}


pre {
	background-color: rgba(0,2,2, .3);
	border-color: #022;
	border-left-width: 10px;
	border-style: solid;
	padding: .5em;
}


#navMenu {
	background: rgba(0,0,0, .5);
	border-top: .13em solid white;
	border-bottom: .13em solid white;
	box-shadow: 1em 1em 3em black;
	margin: .1em 0;
	padding: .1em 1.2em;
}
#navMenu a {
	cursor: default;
	margin:0 8.5%;
	text-decoration: none;
}
#navMenu a:hover {
	text-decoration: underline;
}


section.content {
	background-image: linear-gradient(bottom, rgb(0,80,112) 0%, rgb(0,0,0) 37%, rgb(0,96,128) 80%);
	background-image: -moz-linear-gradient(bottom, rgb(0,80,112) 0%, rgb(0,0,0) 37%, rgb(0,96,128) 80%);
	background-image: -ms-linear-gradient(bottom, rgb(0,80,112) 0%, rgb(0,0,0) 37%, rgb(0,96,128) 80%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0,80,112)), color-stop(0.37, rgb(0,0,0)), color-stop(0.8, rgb(0,96,128)));
	background-image: -webkit-linear-gradient(bottom, rgb(0,80,112) 0%, rgb(0,0,0) 37%, rgb(0,96,128) 80%);
	background-image: -o-linear-gradient(bottom, rgb(0,80,112) 0%, rgb(0,0,0) 37%, rgb(0,96,128) 80%);
	box-shadow: 1em 1em 3em black;
	padding: .5em 1.2em;
}
section.content header {
	font-weight:bold;
}
section.content div {
	background: rgba(0,255,255, .1);
	box-shadow: 1em 1em 3em black;
	margin: .5em 0;
	padding: .6em 1em;
	text-shadow: 1em 1em 1em black;
}
section.content div h1 {
	font-size: 1.2em;
	margin: 1.5em 0 0 0;
	text-decoration: underline;
}
section.content div h2 {
	font-size: 1em;
	margin: .1em 0 0 0;
}
section.content div p, section.content div ol, section.content div ul,
section.content div pre, section.content div li {
	margin: 0 0 .3em 0;
}
section.content div ol, section.content div ul {
	padding: 0 1.8em;
}
section.content div ul {
	list-style-type: disc;
}
section.content footer {
	font-style:italic;
}


#footerBody {
	background: rgba(0,0,0, .5);
	border-top: .13em solid white;
	border-bottom: .13em solid white;
	margin: .1em 0;
	padding: .1em 1.2em;
}

